<div class="container mx-auto w-75">
  <div class="d-flex justify-content-between align-items-center">
  <h1 class="text-success">The best Restaurants in town!</h1>
  <%= link_to '+', new_restaurant_path, { :style=>"font-size: 4em;", :class=>"text-success" } %>
  </div>
  <% @restaurants.each do |r| %>
    <div class="card my-3 rounded">
      <div class="d-flex">
        <div>
        <img src="https://source.unsplash.com/400x300/?dish" alt="food">
      </div>
      <div class="p-5 flex-grow-1">
        <h2><%= link_to r.name, restaurant_path(r) %></h2>
        <h4><%= r.category %></h4>
        <p>Address: <%= r.address %></p>
        <p>Phone Number: <%= r.phone_number %></p>
        <div class="d-flex justify-content-between">
          <%= link_to 'edit', edit_restaurant_path(r), { :class=>"btn btn-primary" }  %>
          <%= link_to 'delete', restaurant_path(r), { :class=>"btn btn-danger" }  %>
        </div>
      </div>
      </div>
    </div>
  <% end %>
</div>
