<div class="container mx-auto w-75">
  <h1 class="text-success"><%= link_to 'The best Restaurants in town!', restaurants_path, { :class=>"text-success" } %></h1>
  <div class="card my-3 rounded">
    <div class="pb-0 pl-3" style="background:transparent url('https://source.unsplash.com/1200x300/?dish') no-repeat center center /cover; padding-top: 10rem;">
      <h1 class="text-white m-0 font-weight-bold" style="font-size: 5rem; margin-bottom: -20px !important;"><%= @restaurant.name %></h1>
    </div>
    <div class="p-5 flex-grow-1">
      <h4>Cousine: <%= @restaurant.category %></h4>
      <p>Address: <%= @restaurant.address %></p>
      <p>Phone Number: <%= @restaurant.phone_number %></p>
      <div class="d-flex">
        <%= link_to 'add review', new_restaurant_review_path(@restaurant), { :class=>"btn btn-success text-white" }  %>
      </div>
    </div>
  </div>
  <% @restaurant.reviews.each do |review| %>
    <div class="card my-3 rounded p-3">
      <div class="row align-items-center">
        <ul class="list-unstyled list-inline col-3 text-center">
        <% review.rating.times do %>
          <li class="list-inline-item"><i class="fas fa-star"></i></li>
        <% end %>
        <% (5 - review.rating).times do %>
          <li class="list-inline-item"><i class="far fa-star"></i></li>
        <% end %>
      </ul>
      <p class="col-9"><%= review.content %></p>
      </div>
    </div>
  <% end %>
</div>
